In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Humidity,Max Temp,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-04-21 15:16:04,-23.1203,-134.9692,77,298.40,98,8.59
1,1,Yellowknife,CA,2022-04-21 15:18:22,62.4560,-114.3525,53,266.44,20,2.06
2,2,Cherskiy,RU,2022-04-21 15:16:52,68.7500,161.3000,97,263.92,100,1.28
3,3,Tuktoyaktuk,CA,2022-04-21 15:18:23,69.4541,-133.0374,77,251.15,40,0.00
4,4,Leshan,CN,2022-04-21 15:18:23,29.5623,103.7639,69,293.84,0,1.54

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Humidity        int64
Max Temp      float64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=500, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=500, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=500, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 250
What is the maximum temperature you would like for your trip? 280

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Humidity,Max Temp,Cloudiness,Wind Speed
1,1,Yellowknife,CA,2022-04-21 15:18:22,62.4560,-114.3525,53,266.44,20,2.06
2,2,Cherskiy,RU,2022-04-21 15:16:52,68.7500,161.3000,97,263.92,100,1.28
3,3,Tuktoyaktuk,CA,2022-04-21 15:18:23,69.4541,-133.0374,77,251.15,40,0.00
14,14,Qaanaaq,GL,2022-04-21 15:18:28,77.4840,-69.3632,77,253.41,0,0.50
15,15,Maniitsoq,GL,2022-04-21 15:18:28,65.4167,-52.9000,94,273.08,100,17.28
...,...,...,...,...,...,...,...,...,...,...
514,514,Merritt,CA,2022-04-21 15:30:11,50.1123,-120.7942,69,279.04,98,0.90
519,519,Kozmodemyansk,RU,2022-04-21 15:33:18,56.3367,46.5711,70,278.04,98,4.72
528,528,Bismarck,US,2022-04-21 15:33:02,46.8083,-100.7837,68,276.06,100,1.54
530,530,Duldurga,RU,2022-04-21 15:33:23,50.6761,113.5931,50,274.38,100,1.99
532,532,Orlik,RU,2022-04-21 15:33:24,52.5178,99.8250,77,269.05,80,2.10

In [15]:
preferred_cities_df.count()

City_ID       117
City          117
Country       117
Date          117
Lat           117
Lng           117
Humidity      117
Max Temp      117
Cloudiness    117
Wind Speed    117
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1       Yellowknife      CA    266.44  62.4560 -114.3525
2          Cherskiy      RU    263.92  68.7500  161.3000
3       Tuktoyaktuk      CA    251.15  69.4541 -133.0374
14          Qaanaaq      GL    253.41  77.4840  -69.3632
15        Maniitsoq      GL    273.08  65.4167  -52.9000
19          Tatarsk      RU    279.13  55.2190   75.9828
20         Khatanga      RU    256.01  71.9667  102.5000
21          Albanel      CA    276.23  48.8832  -72.4487
24  Haines Junction      CA    265.12  60.7522 -137.5108
25           Anadyr      RU    271.43  64.7500  177.4833

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    # Grab the first hotel from the results and store the name.
    try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
       print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head

<bound method NDFrame.head of               City Country  Max Temp      Lat       Lng  \
1      Yellowknife      CA    266.44  62.4560 -114.3525
2         Cherskiy      RU    263.92  68.7500  161.3000
3      Tuktoyaktuk      CA    251.15  69.4541 -133.0374
14         Qaanaaq      GL    253.41  77.4840  -69.3632
15       Maniitsoq      GL    273.08  65.4167  -52.9000
..             ...     ...       ...      ...       ...
514        Merritt      CA    279.04  50.1123 -120.7942
519  Kozmodemyansk      RU    278.04  56.3367   46.5711
528       Bismarck      US    276.06  46.8083 -100.7837
530       Duldurga      RU    274.38  50.6761  113.5931
532          Orlik      RU    269.05  52.5178   99.8250

                            Hotel Name
1                   The Explorer Hotel
2                           Gostinitsa
3                 End of The Road Ltd.
14                       Qaanaaq Hotel
15              Hotel Heilmann Lyberth
..                                 ...
514             Ramada Limited Merritt
519                   Lada, Gostinitsa
528  Ramkota Hotel & Conference Center
530                      Golden Dragon
532       Gostevoy Dom Mini Gostinitsa

[117 rows x 6 columns]>

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °K</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))